@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>    
    <abbr title="Phone">P:</abbr>
    971.246.9315
</address>

<address>
    <a href="mailto:miriamhall.mgh@gmail.com">miriamhall.mgh@gmail.com</a><br />
</address>